OMInterfaceSM/Web References/OpenMedia/OpenMediaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.60:12615/OpenMediaService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" />
  <xs:element name="AddRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:AddOpenMediaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="AddRequestResult" nillable="true" type="q2:AddOpenMediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:CancelOpenMediaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenMediaRequestStatusByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openMediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenMediaRequestStatusByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetOpenMediaRequestStatusByIDResult" nillable="true" type="q4:GetOpenMediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenMediaRequestHistoryByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openMediaID" type="xs:int" />
        <xs:element minOccurs="0" name="retrieveLaterThan" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenMediaRequestHistoryByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetOpenMediaRequestHistoryByIDResult" nillable="true" type="q5:GetOpenMediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenMediaRequestsByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retrieveLaterThan" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenMediaRequestsByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetOpenMediaRequestsByTimeResult" nillable="true" type="q6:GetOpenMediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpenMediaRequestStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpenMediaRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetAllOpenMediaRequestStatusResult" nillable="true" type="q7:GetOpenMediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroupStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroupStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetServiceGroupStatusResult" nillable="true" type="q8:ServiceGroupStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpenMediaServiceGroupStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpenMediaServiceGroupStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetAllOpenMediaServiceGroupStatusResult" nillable="true" type="q9:GetAllServiceGroupStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="request" nillable="true" type="q10:SetOptionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOptionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOMAgentsByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOMAgentsByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="GetOMAgentsByGroupResult" nillable="true" type="q11:GetOMAgentsByGroupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivertRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="request" nillable="true" type="q12:DivertOpenMediaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivertRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="DivertRequestResult" nillable="true" type="q13:DivertOpenMediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Solidus.OpenMedia.Contracts.DataContracts" minOccurs="0" name="request" nillable="true" type="q14:ModifyOpenMediaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>